
html {
    scroll-behavior: smooth;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none;
}

#homePage {
    @apply min-w-[220px]
}
/* ------------------------------------------------------------ */
header {
    background: linear-gradient(#000000a1 100%, gray), url('https://images.unsplash.com/photo-1690460814053-5906ac3e90cd?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    @apply 
    h-screen
    bg-no-repeat 
    bg-center
    bg-cover
    flex
    bg-fixed
}

header > div:first-child {
    @apply flex 
    fixed w-full
    justify-between 
    items-center
    font-semibold 
    text-white 
    z-50
    h-14 transition-all duration-500
}

header > div:first-child > :first-child {
    @apply 
    w-40
    text-right
}

header > div:last-child {
    @apply w-full flex h-full justify-center items-center
}

#annoucement {
    @apply h-fit text-center font-rock
}

#annoucement > h1 {
    @apply text-6xl text-red-500 font-semibold
}

#annoucement > h3 {
    @apply text-4xl text-white font-semibold m-10 mb-12
}

#annoucement > a {
    @apply 
    bg-red-500 
    bg-opacity-90 
    p-5 
    pl-12 
    pr-12 
    text-white 
    rounded-lg
    hover:bg-white
    hover:text-black
}

nav {
    display: none;
}

nav ul {
    @apply flex justify-end pr-4
}

nav ul *{
    @apply 
    flex
    cursor-pointer
    justify-center
    w-24
    h-full
}

header > div:first-child > :first-child, nav a {
    @apply hover:text-red-500
    hover:font-bold
}

main section {
    @apply
    bg-blueblack
    h-screen
}

#annoucement a {
    @apply cursor-pointer
}

.errorEvent {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 50px;
    @apply flex text-center items-center justify-center absolute top-[45%] text-3xl font-rock text-[4vh]
}

/* ------------------------------------------------------------ */
#music {
    @apply
    w-full
    flex
    h-fit
    min-h-[50vh]
    pb-9
    flex-col
    justify-center
    items-center
    text-white    
}

#music > h2 {
    @apply
    text-2xl
    font-bold
    font-rock
    mt-20
    pb-1
    border-b-4 
    border-red-500
}

#music > div {
    @apply
    flex
    m-auto
    mt-4
    flex-wrap
    justify-center
    items-start
}

#music > div > div {
    @apply m-3
    text-center
}

#music > div > div > :first-child {
    @apply overflow-hidden
}

#music img {
    transition: transform 1s;
    will-change: transform;
    @apply
    w-56
    h-56
    rounded-sm
    object-cover
}

#music img:hover {
    transform: scale(1.1);
}

#music > div > div > div:nth-child(2) {
    @apply font-rock pt-2
}

#music > div > div > :last-child {
    @apply flex
    text-sm
    mt-1
    text-gray-400
    font-semibold
    justify-center
}

#music > div > div > :last-child > :nth-child(2){
    @apply pl-2 pr-2
}
/* ------------------------------------------------------------ */

#player {
    background: url("https://images.unsplash.com/photo-1614247912229-26a7e2114c0a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    @apply 
    w-full
    bg-no-repeat
    bg-cover
    h-screen
    max-h-[50vh]
    bg-fixed
}

/* ------------------------------------------------------------ */

#members {
    @apply flex
    flex-col
    justify-center
    items-center
    h-fit
    min-h-50vh
    pb-7
    text-white
    bg-blueblack
}

#members > :nth-child(2) > div > :first-child {
    @apply overflow-hidden
}

#members img {
    transition: transform 1s;
    will-change: transform;
    @apply
    w-56
    h-56
    rounded-md
    object-cover
}

#members img:hover {
    transform: scale(1.1);
}

#members > h2 {
    @apply font-bold
    font-rock
    text-2xl
    pb-1
    mt-20
    border-b-4 
    border-red-500
}

#members > :nth-child(2) {
    @apply flex m-auto mt-4 flex-wrap justify-center
}

#members > :nth-child(2) > div {
    @apply m-3
    text-center
}

#members > :nth-child(2) > div > div:nth-child(2){
    @apply font-alkatra
    mt-2.5
}

#members > :nth-child(2) > div > div:nth-child(3){
    font-family: Helvetica;
    @apply text-xs
    font-extrabold
    mt-0.5
    text-red-500
}

/* ------------------------------------------------------------ */

#phase {
    background: linear-gradient(#000000a2 100%, transparent), url("https://images.unsplash.com/photo-1531651008558-ed1740375b39?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    @apply 
    w-full
    h-screen
    bg-no-repeat
    bg-cover
    bg-center
    bg-fixed
    flex 
    max-h-[50vh]
}

#phase > div {
    @apply text-white font-semibold w-1/3 m-auto text-center font-rock
}

#phase > div > :nth-child(2) {
    @apply mt-2 italic font-alkatra
}

/* ------------------------------------------------------------ */
#events {
    @apply 
    text-white 
    flex
    flex-col
    justify-start
    items-center
    relative
}

#events > :first-child {
    @apply h-1/4 flex justify-center items-center
}

#events h2 {
    @apply font-bold
    font-rock   
    pb-2
    mt-20
    h-fit
    text-2xl
    w-fit
    border-b-4    
}

#events table {
    @apply pt-10 
}

#events table tbody {
    @apply flex m-2 p-5
}

#events table tbody:first-child {
    @apply pt-0
}

#events table tbody > tr  {
    @apply flex flex-col mr-5 text-start
}

#events table tbody > tr:nth-child(2) ~ *  {
    width: fit-content;
    @apply flex flex-col h-[30px] text-start
}

#events table tbody > tr:first-child {
    @apply min-w-[100px]
}

#events table td {
    @apply text-gray-400 text-sm font-bold text-start
}

#events table th {
    @apply text-2xl font-alkatra text-start
}

#events table th > button{
    @apply text-red-300 text-start
}

#events table th > button:hover{
    font-size: 30px;
}

#events table tbody > tr:nth-child(4) button {
    @apply text-red-400
}

#events table tbody > tr:nth-child(5) button {
    @apply text-red-500
}

#events table tbody > tr:nth-child(2) {
    margin-right: 8vw
}

#events table tbody > tr:nth-child(2) ~ * {
    @apply text-gray-400
}

#events table tbody > tr button:active {
    @apply text-white
}


/* ------------------------------------------------------------ */
#media {
    @apply bg-white
    pt-1 pb-1
}

#media > div {
    display: grid;
    height: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0.25rem;
	grid-template-areas:
				 "left middle top top"
				 "left middle little right"
				 "left wide wide right"
				 "left wide wide bottom"
}

#media > div > div {
    @apply bg-center bg-no-repeat bg-cover
}

#media > div > :nth-child(1){
	grid-area: left;
}

#media > div > :nth-child(2){
	grid-area: middle;
}

#media > div > :nth-child(3){
	grid-area: wide;
}

#media > div > :nth-child(4){
	grid-area: little;
}

#media > div > :nth-child(5){
	grid-area: top;
}

#media > div > :nth-child(6){
	grid-area: right;
}

#media > div > :nth-child(7){
	grid-area: bottom;
}

/* ------------------------------------------------------------ */
footer {
    overflow-y: auto;
    @apply 
    flex
    flex-col
    justify-end
    items-center
    w-full
    pb-8
    h-screen
    text-white
    bg-blueblack
}

footer > form {
    @apply w-176 mt-20 mb-10
}

footer textarea{
    @apply h-44
}

footer > form > div:not(div:nth-child(2)) {
    @apply flex flex-col mt-7
}

footer > form > div:not(div:nth-child(2)) > :first-child {
    @apply mb-2 font-alkatra text-xl
}

footer > form > div:nth-child(2) {
    @apply mt-7 flex
}

footer > form > div:nth-child(2) > div {
    @apply flex flex-col w-49%
}

footer > form > div:nth-child(2) > div > :first-child {
    @apply mb-2 font-alkatra text-xl
}

footer > form > div:nth-child(2) > div:nth-child(2) {
    @apply ml-auto
}

footer textarea {
    @apply resize-none
}

footer  input, textarea {
    background-color: #00000057 !important;
    @apply !border-gray-700
}

footer > form > div > input[type="text"], input[type="email"], input[type="tel"] {
    @apply h-16
}

footer > form > input[type="submit"]{
    @apply !bg-red-500 p-3 pl-10 pr-10 font-bold rounded-md mt-5 w-full text-lg font-rock cursor-pointer
}

footer > form > input[type="submit"]:disabled{
    @apply cursor-not-allowed
}

footer > :last-child {
    @apply flex justify-between w-[40rem] m-auto mt-0
}

footer > :last-child > * {
    @apply text-3xl rounded-full p-6 border-b-4 border-red-500 cursor-not-allowed
}


@media screen and (min-width: 854px){

    #events table tbody > tr:nth-child(2) ~ *  {
        @apply w-[150px]
    }    
}

@media screen and (max-width: 855px){

    #events tr, th, td {
        font-size: clamp(12px, 2.2vw, 30px) !important;
        width: fit-content;
    }

    #events table th > button:hover{
        font-size: 15px;
    }
}

@media screen and (max-width: 800px){
    footer > form {
        @apply w-[450px] mt-[3.5rem] 
    }

    footer textarea{
        @apply h-32
    }    

    footer > form > div:nth-child(2) {
        @apply flex flex-col h-auto
    }

    footer > form > div:nth-child(2) > div {
        @apply !m-0 w-full
    }

    footer > form > div:nth-child(2) > div:nth-child(2) {
        @apply pt-7
    }

    footer > :last-child {
        @apply w-[30rem]
    }
}

@media screen and (max-width: 730px){    
    #events table th > button:hover{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px){    

    #events table tbody {
        @apply flex m-5 p-0
    }

    header > div > a{
        display: none;
    }
    
    #annoucement > h1 {
        @apply text-[10vw] 
    }
    
    #annoucement > h3 {
        @apply text-[6vw] m-[6.7vw] mb-[8vw]
    }
    
    #annoucement > a {
        @apply 
        p-[3.3vw] 
        pl-[8vw]
        pr-[8vw]
    }
    
    nav ul {
        @apply pr-[2.6vw]
    }
    
    nav ul li a{
        @apply
        w-[15vw]
        text-[3vw]
    }
    /* ------------------------------------------------------------------------------------------------------------------------ */
    
    footer > form {
        @apply w-[75vw] mt-[6vh] mb-[5vh]
    }

    footer textarea{
        @apply h-[20vw]
    }
    
    footer > form > div:not(div:nth-child(2)) {
        @apply mt-[4.6vw]
    }
    
    footer > form > div:not(div:nth-child(2)) > :first-child {
        @apply mb-[1vw] text-[3.3vw]
    }

    footer > form > div:nth-child(2) {
        @apply mt-[4.6vw]
    }

    footer > form > div:nth-child(2) > div:nth-child(2) {
        @apply pt-[4.6vw]
    }
    
    footer > form > div:nth-child(2) > div > :first-child {
        @apply mb-[1vw] text-[3.3vw]
    }
    
    footer > form > div > input[type="text"], input[type="email"], input[type="tel"] {
        @apply h-[9.5vw]
    }
    
    footer > form > input[type="submit"]{
        @apply 
        p-[2vw] 
        pl-[6.6vw] 
        pr-[6.6vw] 
        rounded-[1vw] 
        mt-[3.3vw]
        text-[3vw]
    }
    
    footer > :last-child {
        @apply 
        w-[80.6vw]
    }
    
    footer > :last-child > * {
        @apply 
        text-[5vw]
        p-[4vw] 
        border-b-[0.8vw]
    }
    /* ------------------------------------------------------------------------------------------------------------------------ */
}


@media screen and (max-width: 385px) {
    #events table th {
        @apply text-sm
    }
}

@media screen and (max-width: 350px) {
    footer > form {
        @apply m-0
    }

    footer > :last-child {
        @apply flex-col mt-[10px]
    }
}