#authPage {
    background: linear-gradient(#000000a1 100%, gray), url("https://img.goodfon.com/original/2880x1800/b/ad/ibanez-gitara-elektrogitara-instrument.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    @apply flex justify-center h-[100vh]
}

#authPage > :first-child {
    @apply w-full h-full pl-96 text-black bg-white bg-opacity-80 flex items-center justify-center pb-24
}

#authPage > :first-child > div {
    @apply w-80
}

#authPage > :nth-child(2) {
    @apply w-full h-full pr-96 bg-red-500 bg-opacity-70 flex items-center justify-center pb-24
}

#authPage > :nth-child(2) > div {
    @apply flex flex-col
}

#authPage > :nth-child(2) > div > button {
    @apply m-3 bg-white w-80 h-11 rounded-md text-start
}

#authPage > :nth-child(2) > div > button > :first-child {
    @apply pl-3 pr-3
}

#topAuth {
    display: flex;
    text-align: center;
    flex-direction: column;
}

#topAuth > h1 {
    @apply text-2xl
}

#auth {
    @apply p-4 pl-0 pr-0
}

#auth > div {
    @apply flex flex-col
}

#bottomAuth {
    @apply flex justify-between text-sm
}

#bottomAuth > :first-child > label {
    @apply ml-2
}

#bottomAuth > :nth-child(2){
    @apply font-medium
}

#signIn {
    @apply bg-black text-white w-full p-3 mt-5
}

#signUp {
    @apply font-medium text-sm text-start mt-5
}

#signUp > a {
    @apply text-blue-600
}

#oAuth {
    @apply bg-purple-500 flex flex-col
}